
                <div ng-if="isReady" class="card-columns">
                        <div *ngFor="let category of categories; let i = index " class="card wow headShake text-center">
                          <img class="card-img-top img-fluid rounded mx-auto d-block" src= {{category.img_src}} alt= {{category.name}}>
                          <div class="card-block">
                            <h4 class="card-title">{{category.name}}</h4>
                            </div>
                          <div class="card-footer">
                                <a [routerLink]="['/category', i]" class="card-link">Explore</a>
                          </div>
                        </div>
                      </div>




