
<!--Footer-->
<footer class="page-footer center-on-small-only blue-grey lighten-4 pt-0">
    
        <div class=" social">
            <div class="container">
                <!--Grid row-->
                <div class="row py-4 d-flex align-items-center">
    
                    <!--Grid column-->
                    <div class="col-12 col-md-5 text-left mb-4 mb-md-0">
                        <h6 class="mb-0 white-text text-center text-md-left"><strong>Get connected with us on social networks!</strong></h6>
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-12 col-md-7 text-center text-md-right">
                        <!--Facebook-->
                        <a class="icons-sm fb-ic ml-0"><i class="fa fa-facebook white-text mr-lg-4"> </i></a>
                        <!--Instagram-->
                        <a class="icons-sm ins-ic"><i class="fa fa-instagram white-text mr-lg-4"> </i></a>
                    </div>
                    <!--Grid column-->
    
                </div>
                <!--Grid row-->
            </div>
        </div>
    
        <!-- Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright <a href="#"><strong> GlutenFree.tn</strong></a>
            </div>
        </div>
        <!--/.Copyright -->
        
    </footer>
    <!--/.Footer-->